$primary-color: #4527A0;
$toolbar_height: 64px;
$color-black: "0,0,0";
$color-white: "255,255,255";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-white}, 0.95)") !default;
$select-color: unquote("rgba(#{$color-white}, 0.95)") !default;
$option-color: unquote("rgba(#{$color-black}, 0.95)") !default;
$tablet: 768px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: $toolbar_height;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 18px;
    font-size: 1.6em;

    a {
      color: #FFF;
      text-decoration: none;
    }
  }

  #routes {
    z-index: 1;
  }

  #filter {
    margin-right: 10px;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
    }

    select {
      background-color: $select-background-color;
      padding: 4px 0;
      margin: 8px;
      font-size: 0.9em;
      color: $select-color;
      border: none;
      border-bottom: 1px solid $select-border-color;

      @include tablet {
        margin: 0 8px 0 0;
      }
    }

    option {
      color: $option-color;
    }

    select:focus {
      outline: none
    }

    /* Hide label */
    .mdl-selectfield label {
      display: none;
    }
    /* Use custom arrow */
    .mdl-selectfield select {
      appearance: none
    }
    .mdl-selectfield {
      position: relative;
      &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
      }
    }
  }
}

main {
  position: absolute;
  top: $toolbar_height;
  left: 0;
  height: calc(100% - #{$toolbar_height});
  width: 100vw;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;

  #info {
    position: absolute;
    padding: 8px;
    border-bottom: 2px solid #000;

    h2 {
      font-size: 1.2em;
    }
  }

  #map {
    height: 100%;
    width: 100%;
  }
}